{%extends 'base.html'%}
{%block title%}ABOUT{%endblock title%}
{% block aboutactive%}active{%endblock aboutactive%}
{%block body%}
<body style="background-color:MintCream;">
<div class="container mb-3"><p class="lead">
    <h1 class="text-center" style="color:SeaGreen">ABOUT US</h1>
    <br><br>Welcome to <b>Digital Ocean</b>, your number one source for all things [product, ie: shoes, bags, dog treats]. We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]<br>
    Founded in 2022 by Shreeyesh Mhatre, Digital Ocean has come a long way from its beginnings in a [starting location, ie: home office, toolshed, Houston, TX.].<br> When [store founder] first started out, his/her passion for [passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians] drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and inspiration into to a booming online store.<br> We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.<br>
    
    We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
    
    <br>Sincerely,<br>
    <h6 style="color:SeaGreen">Shreeyesh Mhatre</h6>
</p>
<br><h5 style="color:SeaGreen">Any Suggestions?</h5>
<form method='post' action='/aboutus/'>
 {% csrf_token %}
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" style="border-color:SeaGreen">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comment Here</label>
    <textarea class="form-control" id="comment" name="comment" rows="3" style="border-color:SeaGreen"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>

</body>
{%endblock body%}